{% extends 'adminbase.html.twig' %}

{% block title %}Edit Travel{% endblock %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Edit Travel Page</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Edit Travel</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">

                    <h1>Edit Travel</h1>

                    {{ include('admin/travel/_form.html.twig', {'button_label': 'Update'}) }}

                    <div class="col-md-2">
                        <a href="{{ path('admin_travel_index') }}" class="btn btn-block btn-info">Back to List</a>
                    </div>
                    <div class="col-md-2">
                        {{ include('admin/travel/_delete_form.html.twig') }}
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



{% endblock %}
